psplus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Anna (KhNURE) -->
<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Игра" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Бесплатно">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Бесплатно_v.1"/>
				<xs:element ref="Бесплатно_v.2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Бесплатно_v.1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="None"/>
				<xs:enumeration value="Бесплатно"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Бесплатно_v.2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="None"/>
				<xs:enumeration value="Бесплатно"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Версия">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Дополнение"/>
				<xs:enumeration value="Игра PSN"/>
				<xs:enumeration value="Комплект"/>
				<xs:enumeration value="Подписка"/>
				<xs:enumeration value="Полная версия"/>
				<xs:enumeration value="Статическая тема"/>
				<xs:enumeration value="Тема"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Игра">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Название"/>
				<xs:element ref="Цена"/>
				<xs:element ref="Версия"/>
				<xs:element ref="Платформа"/>
				<xs:element ref="Бесплатно"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="10"/>
						<xs:enumeration value="11"/>
						<xs:enumeration value="12"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Название" type="xs:string"/>
	<xs:element name="Платформа">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PS4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Цена">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1 349.00 UAH"/>
				<xs:enumeration value="1 849.00 UAH"/>
				<xs:enumeration value="649.00 UAH"/>
				<xs:enumeration value="769.00 UAH"/>
				<xs:enumeration value="None"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
